In [16]:
import pandas as pd
import numpy as np
import random
import os
import mysql.connector
from datetime import  datetime, timedelta
import time

In [3]:
DB_CONFIG = {
    "host": "localhost",  # Change if using a remote DB
    "user": "root",
    "password": "1234567890",
    "database": "test"  # Choose your schema
}

In [4]:
locations_filename = 'locations.csv'

In [ ]:
def insert_location_data():
    try:
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()

        # Create table if not exists
        create_table_query = """
        CREATE TABLE IF NOT EXISTS locations (
            id VARCHAR(10) PRIMARY KEY,
            name VARCHAR(255),
            is_active BOOLEAN,
            selling_type TEXT
        );
        """
        cursor.execute(create_table_query)
        print("Table checked/created successfully.")

        # Insert data into the table
        for _, row in locations.iterrows():
            insert_query = """
            INSERT INTO locations (id, name, is_active, selling_type)
            VALUES (%s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE name = VALUES(name), is_active = VALUES(is_active), selling_type = VALUES(selling_type);
            """
            cursor.execute(insert_query, (row["id"], row["name"], row["is_active"], ",".join(row["selling_type"])))

        # Commit and close connection
        conn.commit()
        cursor.close()
        conn.close()
        print("Data inserted into MySQL successfully.")

    except mysql.connector.Error as err:
        print(f"Error: {err}")

In [36]:
def insert_user_data():
    try:
        conn = mysql.connector.connect(**DB_CONFIG)
        cursor = conn.cursor()

        # Create table if not exists
        create_table_query = """
        CREATE TABLE IF NOT EXISTS users (
                id SERIAL PRIMARY KEY,
                name VARCHAR(255) NOT NULL,
                email VARCHAR(255) UNIQUE NOT NULL,
                phone_number VARCHAR(20) NOT NULL,
                country_code VARCHAR(10) NOT NULL,
                is_monthly BOOLEAN NOT NULL,
                monthly_locations TEXT,
                cof BOOLEAN NOT NULL
        );
        """
        cursor.execute(create_table_query)
        print("Table checked/created successfully.")

        # Insert data into the table
        for _, row in user_df.iterrows():
            insert_query = """
            INSERT INTO users (name, email, phone_number, country_code, is_monthly, monthly_locations, cof)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE name = VALUES(name),
            email = VALUES(email),
            phone_number = VALUES(phone_number),
            country_code = VALUES(country_code),
            is_monthly = VALUES(is_monthly),
            monthly_locations = VALUES(monthly_locations),
            cof = VALUES(cof);
            """
            cursor.execute(insert_query, (row["name"], row["email"], row["phone_number"], row["country_code"],row["is_monthly"],",".join(row["monthly_locations"]), row["cof"]))

        # Commit and close connection
        conn.commit()
        cursor.close()
        conn.close()
        print("Data inserted into MySQL successfully.")

    except mysql.connector.Error as err:
        print(f"Error: {err}")

In [14]:
if not os.path.exists('locatons.csv'):

    data = {
        "id": ["99999", "60287", "76817", "47261","82615"],
        "name": ["Pallet", "LilyClove", "Pewter", "Lilroot", "Indigo League"],
        "is_active": [True, False, True, True, True],
        "selling_type": [["reservations"],
        ["on-demand", "reservations"],
        ["on-demand"],
        ["odv","on-demand","resevations"],
        ["odv"]]
    }

    locations = pd.DataFrame(data)

    print(locations)
    locations.to_csv(locations_filename,header=True,index=False)

      id           name  is_active                   selling_type
0  99999         Pallet       True                 [reservations]
1  60287      LilyClove      False      [on-demand, reservations]
2  76817         Pewter       True                    [on-demand]
3  47261        Lilroot       True  [odv, on-demand, resevations]
4  82615  Indigo League       True                          [odv]

In [15]:
locations = pd.read_csv(locations_filename)
locations["selling_type"] = locations["selling_type"].apply(lambda x: x.split(","))  

print(locations)

      id           name  is_active                             selling_type
0  99999         Pallet       True                       [['reservations']]
1  60287      LilyClove      False         [['on-demand',  'reservations']]
2  76817         Pewter       True                          [['on-demand']]
3  47261        Lilroot       True  [['odv',  'on-demand',  'resevations']]
4  82615  Indigo League       True                                [['odv']]

In [27]:
insert_location_data()

Table checked/created successfully.
Data inserted into MySQL successfully.

In [29]:

user_data = {
    "name": ["Alice Johnson", "Bob Smith", "Charlie Brown", "David Wilson", "Emma Davis", 
             "Fiona Martinez", "George Clark", "Hannah Lewis", "Ian Wright", "Julia Roberts"],
    "email": ["alice@example.com", "bob@example.com", "charlie@example.com", "david@example.com", "emma@example.com",
              "fiona@example.com", "george@example.com", "hannah@example.com", "ian@example.com", "julia@example.com"],
    "phone_number": ["+1234567890", "+1987654321", "+1122334455", "+1555666777", "+1444333222",
                     "+1333777888", "+1666999000", "+1222111444", "+1777888999", "+1999888777"],
    "country_code": ["US", "CA", "GB", "AU", "DE", "FR", "IN", "JP", "BR", "ZA"],
    "is_monthly": [True, False, True, True, False, True, False, True, False, True],
    "monthly_locations": [
        random.sample(["Pallet", "LilyClove", "Pewter", "Lilroot", "Indigo League"], k=random.randint(1, 3)) if is_m else []
        for is_m in [True, False, True, True, False, True, False, True, False, True]
    ],
    "cof": [random.choice([True, False]) for _ in range(10)],
}

In [31]:
user_df = pd.DataFrame(user_data)
print(user_df)

             name                email phone_number country_code  is_monthly  \
0   Alice Johnson    alice@example.com  +1234567890           US        True
1       Bob Smith      bob@example.com  +1987654321           CA       False
2   Charlie Brown  charlie@example.com  +1122334455           GB        True
3    David Wilson    david@example.com  +1555666777           AU        True
4      Emma Davis     emma@example.com  +1444333222           DE       False
5  Fiona Martinez    fiona@example.com  +1333777888           FR        True
6    George Clark   george@example.com  +1666999000           IN       False
7    Hannah Lewis   hannah@example.com  +1222111444           JP        True
8      Ian Wright      ian@example.com  +1777888999           BR       False
9   Julia Roberts    julia@example.com  +1999888777           ZA        True

                  monthly_locations    cof
0                         [Lilroot]   True
1                                []  False
2  [Pewter, Lilroot, Indigo League]  False
3                  [Pewter, Pallet]   True
4                                []   True
5           [Pewter, Indigo League]  False
6                                []   True
7                          [Pewter]  False
8                                []   True
9               [Pallet, LilyClove]   True

In [37]:
insert_user_data()

Table checked/created successfully.
Data inserted into MySQL successfully.

In [5]:
conn = mysql.connector.connect(**DB_CONFIG)
cursor = conn.cursor()
methods = ['apple_pay', 'google_pay', 'hps']
data = []

for _ in range(800):
    total_amt = round(random.uniform(1, 500), 2)  # Random total amount > 0
    validated_amt = round(random.uniform(0.1, total_amt - 0.01), 2)  # Less than total_amt
    # paid_amount = round(total_amt - validated_amt, 2)  # Difference
    method = random.choice(methods)  # Random payment method
    
    data.append((total_amt, validated_amt, method))

# Insert data in batches for efficiency
query = "INSERT INTO payments (total_amt, validated_amt, method) VALUES (%s, %s, %s)"
cursor.executemany(query, data)
conn.commit()
cursor.close()
conn.close()

print("✅ Inserted 800 payments successfully!")

✅ Inserted 800 payments successfully!

In [ ]:
conn = mysql.connector.connect(**DB_CONFIG)
cursor = conn.cursor()

# Create the orders table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS orders (
        id INT AUTO_INCREMENT PRIMARY KEY,
        order_date DATE NOT NULL,
        user_id INT NOT NULL,
        location_id VARCHAR(10) NOT NULL,
        payment_id INT UNIQUE NULL,
        FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE,
        FOREIGN KEY (location_id) REFERENCES locations(id) ON DELETE CASCADE,
        FOREIGN KEY (payment_id) REFERENCES payments(id) ON DELETE SET NULL
    )
""")
conn.commit()

# Fetch IDs
cursor.execute("SELECT id FROM users")
user_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT id FROM locations")
location_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT id FROM payments")
all_payment_ids = [row[0] for row in cursor.fetchall()]
random.shuffle(all_payment_ids)

# First 800 orders get unique payment_ids, remaining 200 get NULL
payment_ids_for_orders = all_payment_ids[:800] + [None] * 200
random.shuffle(payment_ids_for_orders)
print(payment_ids_for_orders)
# Generate 1000 order rows
orders = []
for i in range(1000):
    order_date = (datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')
    user_id = random.choice(user_ids)
    location_id = random.choice(location_ids)
    payment_id = payment_ids_for_orders[i]
    orders.append((order_date, user_id, location_id, payment_id))

insert_query = """
    INSERT INTO orders (order_date, user_id, location_id, payment_id)
    VALUES (%s, %s, %s, %s)
"""
print('here')
batch_size = 100  # Insert in chunks of 100 rows

for i in range(0, len(orders), batch_size):
    batch = orders[i:i + batch_size]
    cursor.executemany(insert_query, batch)
    conn.commit()  # Commit after each batch to release locks
    time.sleep(min = 0.1)


cursor.close()
conn.close()
print("✅ Successfully inserted 1000 orders with unique payment_ids!")

[94, 513, 757, 300, 788, 375, 745, 708, None, 417, 555, 689, 617, None, 116, 183, 616, None, 776, 152, 539, 114, None, None, 142, 261, 641, 25, None, 146, 370, 236, None, 558, 799, None, 568, 785, 42, None, 744, 110, 7, 67, 274, 156, 365, 244, 52, None, 645, 270, None, 655, 348, 769, 204, None, 294, 415, None, None, 93, 477, 245, None, 290, 250, 248, 647, 530, None, 132, 699, 284, 137, 531, 265, 725, 91, 676, 4, 53, 720, 175, 232, 624, 410, 341, 794, 786, None, 416, 611, 620, 451, None, 178, 75, None, 355, 363, 29, 134, None, 576, 60, 427, None, None, 334, None, 562, 486, 161, 543, None, 781, 454, 302, 141, 371, 197, 695, 578, 485, 719, 117, None, 165, None, 135, None, 306, 36, None, None, 319, 208, 668, 669, 450, 124, 738, 272, None, 107, 633, 43, 231, 281, 109, None, None, 44, 406, 5, 76, None, 663, None, 26, None, 654, 301, 494, None, 136, 79, 741, 634, 643, 424, 185, 401, None, 413, 28, 430, 80, 649, 212, 772, 180, 207, 694, 239, 322, None, 317, None, 507, 62, 625, 545, 253, 704, None, 423, 78, None, None, 246, 739, 598, 557, 105, 471, 346, 482, 724, 712, None, None, None, 569, 572, None, 525, 227, 475, 128, 466, 791, 498, 697, 594, None, 631, None, 275, 501, 72, 459, 396, None, 155, 192, None, 106, None, 285, 278, 677, 349, 27, 435, 552, 276, None, 374, 553, 533, 728, 585, 88, 16, 64, 22, None, 15, 664, None, None, 573, 730, 519, 492, 287, 544, 774, 469, 90, 591, None, 37, 737, 438, 139, 648, 732, 550, 489, 154, 19, 325, None, 237, 771, None, None, 74, 360, 749, None, 310, 258, 574, None, 600, 510, 9, 312, None, 509, 38, 267, None, 254, 661, 313, 45, 63, 472, None, 181, 564, None, 273, None, 524, 34, 523, None, 596, None, 73, 330, 305, 304, 478, 793, 705, 58, None, None, None, 21, 606, 534, None, None, 792, 168, 480, None, None, None, 462, None, 129, 436, 24, 667, 521, 11, 381, None, 240, 755, 495, 316, 263, 675, 150, 339, None, 770, 640, 264, None, 411, 777, 400, None, 455, 350, 442, None, 764, 359, 685, 742, 195, 388, 456, 187, 252, 619, 222, 463, 753, 622, 559, 563, 595, 608, None, 147, 3, 758, 39, 127, 470, 326, 577, 398, 437, 200, 357, 379, 493, 174, 556, 434, None, 149, 722, 40, 701, 376, 508, 100, 681, 82, None, 674, 286, 402, 740, 384, None, 260, None, 219, None, 6, 92, 542, 502, 356, 698, 717, 352, None, 444, 95, None, 382, 206, 20, 789, 66, 635, 779, 391, None, 618, 586, 659, None, 467, 787, 627, 621, 409, 718, 268, 259, 108, 399, 761, 369, None, 632, 484, 565, 172, 405, 433, 491, 184, 532, 389, None, 10, 670, None, 177, 614, None, 98, 432, 151, 126, 144, 651, 35, 140, 662, None, None, 49, 56, None, None, 251, 373, 693, 257, 768, 65, 684, 775, 425, None, 283, 709, 726, None, 279, None, None, 660, None, 30, 590, 458, 418, 452, None, 318, 148, 623, None, 196, 644, 213, 333, 752, 191, 460, 540, 210, 646, 364, 235, 99, 202, 522, 120, 2, None, 205, 747, 796, 490, None, 566, 85, 291, 383, 570, 538, 296, 584, 255, 443, 125, 473, 680, 421, 497, None, None, 32, 652, None, 763, 713, 428, 354, 297, None, 215, 362, 23, 14, 342, 535, 118, 723, None, 289, 223, 366, 48, 602, None, None, 282, 636, None, 145, None, 673, 748, 138, None, 445, 224, None, 671, 217, 483, None, None, 157, 551, 735, None, 309, None, 188, 441, 1, 765, 367, 59, 47, 759, 537, 504, 612, 642, 729, 638, 746, 216, 429, 130, None, 762, 314, 407, 760, 113, None, 169, 303, None, 605, 321, 561, 393, 299, 696, 474, 702, 123, 323, 422, 327, 329, 609, 198, 392, 554, 394, None, 340, 505, 496, None, 119, 71, 721, None, 211, None, None, 784, 256, 797, 166, 33, None, 736, 293, 101, 710, 230, None, 426, 575, 186, 754, 703, 17, 158, 520, 599, None, None, 345, 604, None, 692, 536, None, 529, 464, 68, 397, 657, None, 89, None, 688, 377, 331, 163, 629, 335, 262, 603, None, 626, 700, 271, 112, 716, None, 465, 295, 86, 221, 269, 308, 395, 782, 678, None, 587, 209, 546, 440, 173, None, None, 358, 453, 159, 795, 57, 97, None, 50, 548, 630, 743, 706, 658, None, 582, 514, 353, 581, 266, 516, 528, 404, 189, 131, 390, None, 592, 203, 567, 280, 122, 386, 778, 121, 515, 686, None, None, None, 46, 526, None, 307, 31, 593, 512, 190, None, 628, 249, 714, None, 69, 164, None, 707, 766, 104, 179, 133, None, None, 311, 715, 527, 103, 347, 176, 81, 656, 111, 368, 691, None, None, 479, 431, None, 83, 468, 143, 226, 683, 96, 672, 277, 320, None, 447, 70, 610, 8, 102, 682, 385, 167, 194, 588, 201, None, 338, 214, None, 449, 481, 500, None, 372, 679, None, 597, 199, 687, None, 403, 414, None, None, None, 511, 756, 247, 351, None, 734, 160, 506, 541, 783, 84, 420, 711, 242, 583, 77, 12, 446, 488, 361, 547, None, 518, 328, 228, 41, None, 579, 690, 234, 731, 798, 243, 51, 571, 336, None, None, 337, 439, 288, None, None, None, 549, 115, 665, 220, 378, 733, None, None, None, 387, 419, 750, 751, 412, None, 408, 241, 487, 499, None, 298, 615, None, 503, 332, 653, 182, None, 601, 666, None, None, 517, 315, 457, 589, None, 780, 238, 324, 607, 560, 55, 61, None, None, 233, 580, 171, None, 54, None, 461, 476, None, 344, 727, 343, 87, 637, 225, 613, 162, 767, 448, None, None, 18, 229, 170, 153, None, None, None, None, 13, 639, 650, 773, 800, 380, 218, 790, 193, None, 292, None]
here

MySQLInterfaceError: Python type tuple cannot be converted